@import 'base';
@import '~normalize.css/normalize';
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e2e2e2;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 400;
  color: #377D6A;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus{
  outline-color: #5AA23F;
  outline-width: thin;
}

body, input, textarea, button {
  font-family: 'Josefin Sans', sans-serif;
}