.card-component {
  border: 1px dashed #f00;
  width: 260px;
  height: 380px;
  position: relative;
  justify-content: center;
  perspective: 500px;
  will-change: transform;

  .front, .back{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .front{
    background: #AB526B;
  }
  .back{
    background:#BCA297;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
